Source: ayatana-indicator-a11y
Standards-Version: 4.7.4
Maintainer: Ayatana Packagers <pkg-ayatana-devel@lists.alioth.debian.org>
Uploaders:
 Mike Gabriel <sunweaver@debian.org>,
 Debian UBports Team <team+ubports@tracker.debian.org>,
Section: misc
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 cmake-extras,
 intltool,
 libaccountsservice-dev,
 libayatana-common-dev,
 libglib2.0-dev,
 libx11-dev,
 libxrandr-dev,
 systemd-dev [linux-any],
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-indicator-a11y
Vcs-Git: https://github.com/AyatanaIndicators/ayatana-indicator-a11y.git
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-a11y

Package: ayatana-indicator-a11y
Architecture: any
Depends:
 ayatana-indicator-common,
 espeak-ng,
 onboard,
 orca,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Ayatana Indicator for Accessibility Settings
 This Ayatana Indicator provides quick access to accessibility related
 assistance applications such as the screen reader or an on-screen
 keyboard.
 .
 The provided accessibility indicator should show as an icon in the top
 panel of indicator aware desktop environments. It can be used to toggle
 and access various accessibility features.
 .
 Ayatana Indicators are only available on desktop environments that
 provide a renderer for system indicators (such as MATE, Xfce, Lomiri,
 etc.).
